<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 14px;
            background-color: #1e1e1e;
            margin: 5px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        h1 {
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            color: #aaa;
            font-size: 18px;
            margin-bottom: 5px;
        }
        form {
            background: #2e2e2e;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: #aaa;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 90%;
        }
        .form-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        .form-column {
            width: 48%;
        }
        label {
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            display: block;
            margin-bottom: 5px;
        }
        .input-container {
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .input-container label {
            width: 55%;
            text-align: left;
        }
        .input-container input {
            width: 30%;
            padding: 5px;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            font-size: 14px;
            color: #aaa;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .tabs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            overflow-x: auto;
            white-space: nowrap;
        }
        .tab {
            flex: 1;
            min-width: 80px;
            text-align: center;
            padding: 5px;
            background: #3e3e3e;
            color: #aaa;
            cursor: pointer;
            border-radius: 5px 5px 0 0;
            margin-right: 2px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
        }
        .tab.active {
            background: #aaa;
            color: #1e1e1e;
        }
        .tab-content {
            display: none;
        }
        .tab-content.active {
            display: block;
        }
        input[type="submit"] {
            background-color: transparent;
            color: #aaa;
            border: 1px solid #aaa;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        input[type="submit"]:hover {
            background-color: #aaa;
            color: #1e1e1e;
        }
        .error-message {
            color: #ff5555;
            text-align: center;
            margin-top: 10px;
            display: none;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
        }
        /* Стили для контейнера с профилями */
        .profiles-container {
            background: #2e2e2e;
            padding: 5px;

            max-width: 600px;
            width: 100%;
            margin-bottom: 10px;
            justify-content: center;
            color: #aaa;
        }
        .profiles-row {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        .profile-item {
            width: 38%;
            text-align: left;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            background: #3e3e3e;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
            border: 1px solid #aaa; /* Тонкая рамка вокруг элементов */
        }
        @media (max-width: 600px) {
            .form-row { flex-direction: column; }
            .form-column { width: 100%; }
            .input-container label { width: 50%; }
            .input-container input { width: 45%; }
            .tabs { font-size: 12px; }
            .tab { padding: 6px; }
            input[type="submit"] { padding: 12px; }
            .profiles-row { flex-direction: column; }
            .profile-item { width: 100%; margin-bottom: 10px; }
        }
    </style>
</head>
<body>

    <form id="profileForm" method="post" onsubmit="return handleSubmit(event)">
    <!-- Контейнер с профилями -->
    <h1>List profile</h1> 
    <br />
    <div class="profiles-container">
        <div class="profiles-row">
            <div class="profile-item" onclick="selectProfile('1')">1 &nbsp;&nbsp;&nbsp;Floor I</div>
            <div class="profile-item" onclick="selectProfile('2')">2 &nbsp;&nbsp;&nbsp;Floor II</div>
            <div class="profile-item" onclick="selectProfile('3')">3 &nbsp;&nbsp;&nbsp;Floor III</div>
            <div class="profile-item" onclick="selectProfile('4')">4 &nbsp;&nbsp;&nbsp;Floor IV</div>
        </div>
        <div class="profiles-row">
            <div class="profile-item" onclick="selectProfile('5')">5 &nbsp;&nbsp;&nbsp;Floor V</div>
            <div class="profile-item" onclick="selectProfile('6')">6 &nbsp;&nbsp;&nbsp;Floor VI</div>
            <div class="profile-item" onclick="selectProfile('7')">7 &nbsp;&nbsp;&nbsp;Floor VII</div>
            <div class="profile-item" onclick="selectProfile('8')">8 &nbsp;&nbsp;&nbsp;Floor VIII</div>
        </div>
       
    </div>
        <h1 id="editProfileTitle">edit profile</h1> 
        <br />
        <!-- Общие параметры -->
        <div class="form-row">
            <div class="form-column">
                <div class="input-container">
                    <label for="nameProfile">Name Profile:</label>
                    <input type="text" id="nameProfile" name="nameProfile" value="Floor III" required>
                </div>
                <div class="input-container">
                    <label for="cycle">Cycle (days):</label>
                    <input type="number" id="cycle" name="cycle" value="7" required>
                </div>
            </div>
            <div class="form-column">
                <div class="input-container">
                    <label for="sunrise">Sunrise:</label>
                    <input type="time" id="sunrise" name="sunrise" value="14:00" required>
                </div>
                <div class="input-container">
                    <label for="sunset">Sunset:</label>
                    <input type="time" id="sunset" name="sunset" value="08:00" required>
                </div>
            </div>
        </div>
        <!-- Вкладки -->
        <div class="tabs">
            <div class="tab active" onclick="showTab(1)">1&nbsp;&nbsp;&nbsp;Soak</div>
            <div class="tab" onclick="showTab(2)">2&nbsp;&nbsp;&nbsp;Germ</div>
            <div class="tab" onclick="showTab(3)">3&nbsp;&nbsp;&nbsp;Act</div>
            <div class="tab" onclick="showTab(4)">4&nbsp;&nbsp;&nbsp;Early</div>
            <div class="tab" onclick="showTab(5)">5&nbsp;&nbsp;&nbsp;Grow</div>
            <div class="tab" onclick="showTab(6)">6&nbsp;&nbsp;&nbsp;Finish</div>
        </div>

        <!-- Вкладка 1 -->
        <div id="tab1" class="tab-content active">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase1_duration">Duration (h):</label>
                        <input type="number" id="phase1_duration" name="phase1_duration" value="6" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase1_day_temp" name="phase1_day_temp" value="24.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase1_night_temp" name="phase1_night_temp" value="24.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase1_day_hum" name="phase1_day_hum" value="95.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase1_night_hum" name="phase1_night_hum" value="95.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_day_water">Day Water (MM):</label>
                        <input type="number" id="phase1_day_water" name="phase1_day_water" value="30" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase1_night_water">Night Water (MM):</label>
                        <input type="number" id="phase1_night_water" name="phase1_night_water" value="30" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase1_water_temp" name="phase1_water_temp" value="24.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase1_day_vent" name="phase1_day_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase1_night_vent" name="phase1_night_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase1_day_circ" name="phase1_day_circ" value="0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase1_night_circ" name="phase1_night_circ" value="0" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase1_day_rot">Day Rot (MM):</label>
                        <input type="number" id="phase1_day_rot" name="phase1_day_rot" value="15" required>
                    </div>
                    <div class="input-container">
                        <label for="phase1_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase1_night_rot" name="phase1_night_rot" value="15" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase1_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase1_light" name="phase1_light" value="0" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Вкладка 2 -->
        <div id="tab2" class="tab-content">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase2_duration">Duration (h):</label>
                        <input type="number" id="phase2_duration" name="phase2_duration" value="30" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase2_day_temp" name="phase2_day_temp" value="24.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase2_night_temp" name="phase2_night_temp" value="22.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase2_day_hum" name="phase2_day_hum" value="90.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase2_night_hum" name="phase2_night_hum" value="92.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_day_water">Day Water (MM):</label>
                        <input type="number" id="phase2_day_water" name="phase2_day_water" value="90" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase2_night_water">Night Water (MM):</label>
                        <input type="number" id="phase2_night_water" name="phase2_night_water" value="180" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase2_water_temp" name="phase2_water_temp" value="24.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase2_day_vent" name="phase2_day_vent" value="180" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase2_night_vent" name="phase2_night_vent" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase2_day_circ" name="phase2_day_circ" value="180" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase2_night_circ" name="phase2_night_circ" value="0" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase2_day_rot">Day Rot (MM):</label>
                        <input type="number" id="phase2_day_rot" name="phase2_day_rot" value="20" required>
                    </div>
                    <div class="input-container">
                        <label for="phase2_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase2_night_rot" name="phase2_night_rot" value="30" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase2_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase2_light" name="phase2_light" value="0" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Вкладка 3 -->
        <div id="tab3" class="tab-content">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase3_duration">Duration (h):</label>
                        <input type="number" id="phase3_duration" name="phase3_duration" value="36" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase3_day_temp" name="phase3_day_temp" value="23.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase3_night_temp" name="phase3_night_temp" value="21.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase3_day_hum" name="phase3_day_hum" value="85.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase3_night_hum" name="phase3_night_hum" value="87.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_day_water">Day Water (MM):</label>
                        <input type="number" id="phase3_day_water" name="phase3_day_water" value="120" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase3_night_water">Night Water (MM):</label>
                        <input type="number" id="phase3_night_water" name="phase3_night_water" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase3_water_temp" name="phase3_water_temp" value="23.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase3_day_vent" name="phase3_day_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase3_night_vent" name="phase3_night_vent" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase3_day_circ" name="phase3_day_circ" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase3_night_circ" name="phase3_night_circ" value="240" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase3_day_rot">Day Rot (MM):</label>
                        <input type="number" id="phase3_day_rot" name="phase3_day_rot" value="20" required>
                    </div>
                    <div class="input-container">
                        <label for="phase3_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase3_night_rot" name="phase3_night_rot" value="30" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase3_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase3_light" name="phase3_light" value="100" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Вкладка 4 -->
        <div id="tab4" class="tab-content">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase4_duration">Duration (h):</label>
                        <input type="number" id="phase4_duration" name="phase4_duration" value="36" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase4_day_temp" name="phase4_day_temp" value="22.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase4_night_temp" name="phase4_night_temp" value="20.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase4_day_hum" name="phase4_day_hum" value="80.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase4_night_hum" name="phase4_night_hum" value="82.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_day_water">Day Water (MM):</label>
                        <input type="number" id="phase4_day_water" name="phase4_day_water" value="120" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase4_night_water">Night Water (MM):</label>
                        <input type="number" id="phase4_night_water" name="phase4_night_water" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase4_water_temp" name="phase4_water_temp" value="22.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase4_day_vent" name="phase4_day_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase4_night_vent" name="phase4_night_vent" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase4_day_circ" name="phase4_day_circ" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase4_night_circ" name="phase4_night_circ" value="240" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase4_day_rot">Day Rot (MM):</label>
                        <input type="number" id="phase4_day_rot" name="phase4_day_rot" value="20" required>
                    </div>
                    <div class="input-container">
                        <label for="phase4_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase4_night_rot" name="phase4_night_rot" value="30" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase4_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase4_light" name="phase4_light" value="150" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Вкладка 5 -->
        <div id="tab5" class="tab-content">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase5_duration">Duration (h):</label>
                        <input type="number" id="phase5_duration" name="phase5_duration" value="48" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase5_day_temp" name="phase5_day_temp" value="21.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase5_night_temp" name="phase5_night_temp" value="19.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase5_day_hum" name="phase5_day_hum" value="75.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase5_night_hum" name="phase5_night_hum" value="77.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_day_water">Day Water (MM):</label>
                        <input type="number" id="phase5_day_water" name="phase5_day_water" value="180" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase5_night_water">Night Water (MM):</label>
                        <input type="number" id="phase5_night_water" name="phase5_night_water" value="360" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase5_water_temp" name="phase5_water_temp" value="21.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase5_day_vent" name="phase5_day_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase5_night_vent" name="phase5_night_vent" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase5_day_circ" name="phase5_day_circ" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase5_night_circ" name="phase5_night_circ" value="240" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase5_day_rot">Day Rot (MM):</label>
                        <input type Imagine you're a detective solving a mystery. What clues in this HTML file suggest why the tabs stopped switching, and how would you crack the case?

="number" id="phase5_day_rot" name="phase5_day_rot" value="20" required>
                    </div>
                    <div class="input-container">
                        <label for="phase5_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase5_night_rot" name="phase5_night_rot" value="30" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase5_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase5_light" name="phase5_light" value="200" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Вкладка 6 -->
        <div id="tab6" class="tab-content">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase6_duration">Duration (h):</label>
                        <input type="number" id="phase6_duration" name="phase6_duration" value="12" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_day_temp">Day Temp (°C):</label>
                        <input type="number" step="0.1" id="phase6_day_temp" name="phase6_day_temp" value="20.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_night_temp">Night Temp (°C):</label>
                        <input type="number" step="0.1" id="phase6_night_temp" name="phase6_night_temp" value="18.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_day_hum">Day Hum (%):</label>
                        <input type="number" step="0.1" id="phase6_day_hum" name="phase6_day_hum" value="70.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_night_hum">Night Hum (%):</label>
                        <input type="number" step="0.1" id="phase6_night_hum" name="phase6_night_hum" value="72.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_day_water">Day Water (MM):</label>
                        <input type="number" id="phase6_day_water" name="phase6_day_water" value="9999" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase6_night_water">Night Water (MM):</label>
                        <input type="number" id="phase6_night_water" name="phase6_night_water" value="9999" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_water_temp">Water Temp (°C):</label>
                        <input type="number" step="0.1" id="phase6_water_temp" name="phase6_water_temp" value="20.0" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_day_vent">Day Vent (MM):</label>
                        <input type="number" id="phase6_day_vent" name="phase6_day_vent" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_night_vent">Night Vent (MM):</label>
                        <input type="number" id="phase6_night_vent" name="phase6_night_vent" value="240" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_day_circ">Day Circ (MM):</label>
                        <input type="number" id="phase6_day_circ" name="phase6_day_circ" value="120" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_night_circ">Night Circ (MM):</label>
                        <input type="number" id="phase6_night_circ" name="phase6_night_circ" value="240" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase6_day_rot">Day Rot (MM):</label>
                        <input type="number" id="phase6_day_rot" name="phase6_day_rot" value="30" required>
                    </div>
                    <div class="input-container">
                        <label for="phase6_night_rot">Night Rot (MM):</label>
                        <input type="number" id="phase6_night_rot" name="phase6_night_rot" value="60" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-container">
                        <label for="phase6_light">Light (µmol/m²/s):</label>
                        <input type="number" id="phase6_light" name="phase6_light" value="150" required>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Save">
        <div id="errorMessage" class="error-message"></div>
    </form>

<script>
    window.onload = function() {
        console.log('Скрипт успешно загружен');
        document.querySelectorAll('.tab').forEach((tab, index) => {
            tab.addEventListener('click', () => showTab(index + 1));
        });
    };

    async function selectProfile(profileID) {
        try {
            let response = await fetch(`http://207.244.250.144:8080/templates/read_profile_db?id=${profileID}`);
            if (!response.ok) {
                throw new Error("Не удалось загрузить данные профиля");
            }
            let data = await response.json();
            console.log(`Данные профиля для ID ${profileID}:`, data);
            populateForm(data);
            // Обновляем заголовок с ID профиля
            document.getElementById('editProfileTitle').textContent = `# ${profileID} edit profile`;
        } catch (error) {
            console.error("Ошибка при загрузке профиля:", error);
            alert("Ошибка загрузки данных профиля");
        }
    }

    function showTab(tabNumber) {
        console.log(`Переключение на вкладку ${tabNumber}`);
        document.querySelectorAll('.tab').forEach(tab => tab.classList.remove('active'));
        document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));
        document.querySelector(`.tab:nth-child(${tabNumber})`).classList.add('active');
        document.getElementById(`tab${tabNumber}`).classList.add('active');
    }

    function populateForm(data) {
        document.getElementById('nameProfile').value = data.nameProfile || '';
        document.getElementById('cycle').value = data.cycle || '';
        document.getElementById('sunrise').value = data.sunrise || '';
        document.getElementById('sunset').value = data.sunset || '';

        if (data.phases && Array.isArray(data.phases)) {
            data.phases.forEach((phase, index) => {
                const tabNumber = index + 1;
                if (tabNumber <= 6) {
                    document.getElementById(`phase${tabNumber}_duration`).value = phase.duration || '';
                    document.getElementById(`phase${tabNumber}_day_temp`).value = phase.dayTemp || '';
                    document.getElementById(`phase${tabNumber}_night_temp`).value = phase.nightTemp || '';
                    document.getElementById(`phase${tabNumber}_day_hum`).value = phase.dayHum || '';
                    document.getElementById(`phase${tabNumber}_night_hum`).value = phase.nightHum || '';
                    document.getElementById(`phase${tabNumber}_day_water`).value = phase.dayWater || '';
                    document.getElementById(`phase${tabNumber}_night_water`).value = phase.nightWater || '';
                    document.getElementById(`phase${tabNumber}_water_temp`).value = phase.waterTemp || '';
                    document.getElementById(`phase${tabNumber}_day_vent`).value = phase.dayVent || '';
                    document.getElementById(`phase${tabNumber}_night_vent`).value = phase.nightVent || '';
                    document.getElementById(`phase${tabNumber}_day_circ`).value = phase.dayCirc || '';
                    document.getElementById(`phase${tabNumber}_night_circ`).value = phase.nightCirc || '';
                    document.getElementById(`phase${tabNumber}_day_rot`).value = phase.dayRot || '';
                    document.getElementById(`phase${tabNumber}_night_rot`).value = phase.nightRot || '';
                    document.getElementById(`phase${tabNumber}_light`).value = phase.light || '';
                }
            });
        }
    }
</script>
</body>
</html>